*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

@font-face {
  font-family: 'Cera Pro';
  src: local('CeraPro-Bold'), url('CeraPro-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cera Pro';
  src: local('CeraPro-Regular'), url('CeraPro-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cera Pro';
  src: local('CeraPro-Medium'), url('CeraPro-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cera Pro';
  src: local('CeraPro-Light'), url('CeraPro-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Cera Pro';
}

.header {
  padding-top: 20px;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  transform: translateY(-70px);
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__brand {
  font-size: 30px;
  font-weight: bold;
}

.header__link {
  margin-left: 50px;
  color: #646464;
  text-decoration: none;
}

.header__link:hover {
  text-decoration: underline;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1440px;
}

.home-screen {
  height: 100vh;
  overflow: hidden;
}

.home-screen__bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
}

.home-screen__bg--active {
  opacity: 1;
}

.home-screen__container {
  position: relative;
  height: 100%;
}

.home-screen__content {
  height: 100%;
  padding-bottom: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  opacity: 0;
}

.home-screen__item {
  transform-origin: center 700px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -420px;
  margin-top: -280px;
  width: 840px;
  height: 490px;
}

.home-screen__img {
  max-width: 840px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  opacity: 0;
  position: absolute;
}

.home-screen__img--active {
  opacity: 1;
}

.home-screen__meta-data {
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transform: translateY(70px);
}

.home-screen__article-wrapper,
.home-screen__color-wrapper {
  height: 24px;
  overflow: hidden;
}

.home-screen__article {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  color: #646464;
}

.home-screen__color {
  text-align: right;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
}

.color-picker {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.color-picker--initial {
  opacity: 0;
}

.color-picker:not(.color-picker--active) {
  opacity: 0;
  pointer-events: none;
}

.color-picker__item {
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.color-picker__item--active::before {
  content: '';
  position: absolute;
  top: -6px;
  left: -6px;
  width: 30px;
  height: 30px;
  border: 1px solid #a0a0a0;
  border-radius: 15px;
}

.color-picker__item:not(:last-child) {
  margin-bottom: 15px;
}

.wheel {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 565px;
  transform: translateY(200px);
}

.wheel__item-wrapper {
  position: absolute;
  top: -190px;
  left: 50%;
  width: 565px;
  height: 565px;
  transform: translateX(-50%);
}

.wheel__item {
  position: absolute;
  width: 140px;
  right: 50%;
  margin-right: -75px;
  text-align: center;
  cursor: pointer;
}

.wheel__item--active .wheel__name {
  color: #000;
}

.wheel__name {
  white-space: nowrap;
  font-weight: bold;
  font-size: 28px;
  color: #646464;
  transition: color 1s 0.5s;
}

.wheel__indicator {
  width: 10px;
  height: 10px;
  background-color: #000;
  border-radius: 5px;
  position: absolute;
  left: 50%;
  bottom: -28px;
  margin-left: -5px;
}

.wheel__border--thin {
  position: absolute;
  top: -135px;
  left: -32px;
  width: 630px;
  height: 630px;
  border: 1px solid #000000;
  border-radius: 50%;
  border: 1px solid #a0a0a0;
}

.wheel__border--regular {
  position: absolute;
  top: -100px;
  width: 565px;
  height: 565px;
  border: 1px solid #000000;
  border-radius: 50%;
}
